@{
    List<Book.Models.tbl_category> categories = new Book.Models.ViewModel().allCategories();

}
        @*h1>Danh muc sp</h1>*@
            @foreach (var items in categories)
            {
                <a href="@Url.Action("Category", "HomeScreen", new { id = items.cate_id })">@items.cate_name</a>
            }
@*<div class="header-bottom header-sticky d-none d-lg-block d-xl-block">
    <div class="hb-menu">
        <h1>Danh muc sp</h1>
        @foreach (var items in categories)
        {
            <a href="@Url.Action("Category", "HomeScreen", new { id = items.cate_id })">@items.cate_name</a>
        }
    </div>
</div>*@