
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    .col-lg-3{
        background-color:burlywood;
        border: solid 1px black;
        border-radius:10px;
        margin: 5% 10% 5% 10%;
        padding-top:3%;
        height: 230px;
        width: 270px;
        text-align:center;
    }
</style>

<h1>Dashboard</h1>
<div class="row">

    <div class="col-sm-6 col-lg-3">
        <div class="sp-group-content">
            <a>aaa</a>
            <h2>BBB</h2>
        </div>
        <div>
            <h3>12345</h3>
        </div>
    </div>

    <div class="col-sm-6 col-lg-3">
        <div>Khách hàng</div>
    </div>

    <div class="col-sm-6 col-lg-3">
        <div>Đơn hàng</div>
    </div>

    <div class="col-sm-6 col-lg-3">
        <div>Doanh thu</div>
    </div>

</div>


