
.ui-dialog .ui-dialog-content {
    padding: 2em;
    background-color: white;
    border: solid;
}

#dialog {
    box-shadow: 1rem .5rem 1rem rgba(0, 0, 0, .15);
    padding: 20px;
}

.ui-dialog-titlebar {
    background-color: powderblue;
    border: solid;
}
.ui-dialog-titlebar-close {
    display: none;
}
.ui-button {
    display: none;
}

.selected {
    background-color: silver;
}

#added {
    background: blue;
}

.error {
    color: red;
}

.logo {
    height: 50px;
    width: auto;
    color: grey;
}