@using Book.Models
@{
    int shipid = (int)Session["ship_id"];

    dbbookEntities db = new dbbookEntities();
    tbl_customer ship = db.tbl_customer.Where(x => x.cus_id == shipid).SingleOrDefault();
}


@if (ship != null)
{
    <div class="row">

        <div class="col-md-4">
            <img src="~/Content/resources/images/adminIcon.png" class="img-circle" style="width: 12%;" />
            <span> <b>Welcome :</b> @ship.cus_name</span>
        </div>

        <div class="col-md-4" style="margin-top: 15px;">

            <span><b>@ViewBag.Title</b></span>

        </div>

        <div class="col-md-4" style="margin-top: 15px;">
            <span> <b>Date :</b> @DateTime.Now</span>
        </div>

    </div>
}
